<div id="comments">
<% @comments.each do |comment| %>
  <div class="comment">
  	<h3><%= simple_format comment.content %></h3>
  	<p>Posted <%= time_ago_in_words(comment.created_at) %> ago</p>
  </div>
<% end %>	
</div>